.wrap-login {
    display: flex;
    justify-content: center;
    padding-top: 80px;
    .ant-form {
        width: 400px;
        .block-btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .block-left {
                span {
                    .sign-up {
                        color: #002f79;
                        font-size: 14px;
                        line-height: 16px;
                        font-weight: 700;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}