.statis-page {
    .revenue {
        width: 200px;
        .block {
            display: flex;
            justify-content: space-between;
            margin-left: 20px;
            .block-1 {
                color: #fcae02;
            }
            .block-2 {
                color: #002F79;
            }
        }
    }
}