.userinfo-wrap {
    // display: flex;
    // justify-content: center;
    .userinfo-page {
        width: 400px;
        h3 {
            font-size: 25px;
            margin: 20px 0;
        }
        .block {
            display: flex;
            align-items: center;
            margin: 10px 0px;
            font-size: 17px;
            width: 100%;
            .content {
                display: flex;
                flex-direction: column;
                width: 100%;
                .title {
                    margin: 10px;
                }
                .value {
                    opacity: 0.5;
                }
                input {
                    margin-left: 25px;
                }
            }
        }
        .group-btn {
            margin-left: 25px;
            margin-top: 20px;
            
        }
    }
}