.wrap-autoquote {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    margin: 0 -4%;
    .autoquote-search {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0,0,0,.125);
        flex-basis: 35%;
        .block-search {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .block-search__item {
                width: 20%;
                margin: 0 1%;
                .ant-input-number {
                    width: 100% !important;
                    .ant-input-number-input-wrap {
                        input {
                            width: 100%;
                        }
                    }
                }
            }
            .text {
                display: flex;
                align-items: center;
                font-weight: 600;
                color: #002f79;
                font-size: 18px;
            }
        }
    }
    .container-autoquote {
        display: flex;
        &-left {
            .list-restaurant {
                &-item {
                    padding: 10px;
                    display: flex;
                    border: 1px solid #eee;
                    margin: 10px 0;
                    // max-height: 150px;
                    .menu-detail {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        .block {
                            width: 40%;
                            display: flex;
                            justify-content: space-between;
                            .key {
                                flex-grow: 1;
                                color: #002f79;
                            }
                            .value {
                                color: #e0a800;
                            }
                        }
                    }
                    &__img {
                        width: 25%;
                        min-width: 150px;
                        margin-right: 20px; 
                        // height: auto;
                        max-height: 160px;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &__info {
                        flex-grow: 1;
                        h3 {
                            margin: 0 !important;
                        }
                        .price {
                            display: flex;
                            justify-content: space-between;
                            font-size: 16px;
                            margin-top: 10px;
                        }
                        .distance {
                            width: 100%;
                            text-align: right;
                        }
                        
                        .detail {
                            width: 100%;
                            text-align: right;
                            span {
                                font-size: 11px;
                                text-decoration: underline;
                                color: #BBB;
                                cursor: pointer;

                            }
                        }
                    }
                }
                &-item:hover {
                    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
                    cursor: pointer;
                }
            }
        }
    }
}
.modal-menu-detail {
    .list-item {
        .item {
            .block-1 {
                display: flex;
                justify-content: space-between;
                .checkbox {
                    width: 5%;
                }
                .block {
                    width: 33%;
                }
                .name {
                    width: 40%;
                }
            }
            .detail {
                margin-left: 30px;
            }
        }
        .item1 {
            .block-1 {
                .block {
                    span {
                        color: #002f79; 
                    }
                }
            }
        }
        .item2 {
            .block-1 {
                .block {
                    span {
                        color: #e0a800; 
                    }
                }
            }
        }
    }
    .total-price {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .text {
            span {
                color: #002f79;
            }
        }
        .price {
            span {
                color: #e0a800;
            }
        }
    }
}

.ant-modal-menu-detail {
    width: 50vw !important;
    height: 50vh !important;
    .ant-modal-content {
    height: auto;
    }
}