
.main {
    .container {
        .row {
            .list-restaurant {
                .items {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

            }
        }
    }
}

h3 {
    font-size: 18px;
    font-weight: 600 !important;
    line-height: 22px;
    color :#002f79 !important;
    margin-top: 20px !important;
}


.w-100 {
    width: 100%;
}
.w-30 {
    width: 30%;
}
.w-70 {
    width: 70%;
}

.load-more-btn{
    width: 130px;
    height: 40px;
    background-color: #002f79;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}
