

.auto-quote {
    .providedEvent {
        .ant-select {
            width: 100%;
        }
    }
    .block-2 {
        display: flex;
        justify-content: space-between;
        .capacity {
            width: 40%;
        }
        .totalPrice {
            width: 50%;
        }
        &__item {
            .ant-input-number {
                width: 100% !important;
                input {
                    width: 100% !important;
                    text-align: left;
                }
            }
        }
    }
}
.home-search {
    &-block {
        margin-bottom: 20px;
        button {
            width: 250px;
        }
    }
}

.header-search .home-search {
    color: white;
    text-align: center;
    h2 {
      color: #FFF;
    }
  }