.filter-home {
    .capacity {
        .ant-input-number {
            width: 100% !important;
            .ant-input-number-input-wrap {
                input {
                    width: 100% !important;
                }
            }
        }
    }
}