.wrap-header .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(15.99deg,#b8b6d8 14.63%,#755c7e 85.33%);
    .header-left {
        display: flex;
        align-items: center;
        margin-left: 100px;
    }
    .header-center {
        flex-grow: 1;
        margin-left: 20px;
        .btn-quote {
            width: 300px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 7px;
            span {
                // font-family: "Open Sans","sans-serif";
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #757575;
            }
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        margin-right: 100px;
        .cart {
            margin-right: 20px;
        }
        .signup-user {
            margin-left: 20px;
            display: flex;
            .name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                margin-right: 5px;
                color: rgb(252, 174, 2);
                font-size: 16px;
            }
            .avatar {
                cursor: pointer;
                img {
                    border-radius: 999px;
                    width: 50px;
                    height: 50px;
                }
            }
        }
        .signup-restaurant {
            .btn-cooporate {
                background-color: #fcae02;
                color: #FFF;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0px !important;
                width: 200px;
                border-radius: 7px;
                border: none;
                .icon {
                    background-color: rgba(252, 174, 2, 0.1) !important;
                    // opacity: 0.1;
                    width: 40px;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    .icon1 {
                        font-size: 20px;
                        // z-index: 999;
                        color: #FFF;
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}
.wrap-header .header img {
    width: 100px;
    height: 100px;
}
.avatar-dropdown {
    .logout {
        .text {
            flex-grow: 1;
            // text-align: center;
        }
    }
    .avatar-dropdown__item {
        display: flex;
        padding: 12px 16px;
        .icon {
            margin: 0 10px;
        }

    }
    .avatar-dropdown__item:hover {
        background-color: rgb(226, 226, 226);
        cursor: pointer;
    }
}
.ant-popover-inner-content {
    padding: 0px !important;
}
.auto-quote {
    .providedEvent {
        .ant-select {
            width: 100%;
        }
    }
    .block-4 {
        display: flex;
        justify-content: space-between;
        &__item {
            width: 100%;
            .ant-input-number {
                width: 100% !important;
                input {
                    width: 100% !important;
                    text-align: left;
                }
            }
        }
    }
    .block-45 {
        &__item {
            .item-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    .block11 {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-select {
            flex-grow: 1;
        }
        h3 {
            margin: 0 !important;
        }
    }
    .block-1 {
        display: flex;
        &__item-active {
            width: 50%;
            padding: 10px;
            text-align: center;
            background-color: #002f79;
            color: #FFF;
            cursor: pointer;
        }
        &__item {
            width: 50%;
            padding: 10px;
            text-align: center;
            background-color: #DDD;
            color: #222;
            cursor: pointer;
        }
    }
}