// .ant-modal-content {
//     .ant-modal-body {
//         .ant-modal-confirm-body-wrapper {
//             .ant-modal-confirm-btns {
//                 display: none;
//             }
//         }
//     }
// }
.empty-modal {
    .ant-modal-confirm-btns {
        display: none;
    }

}