
.card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-title {
    color: #002f79;
    font-weight: 600;
}
.card-body {
    display: flex;
    flex-direction: column;
    .card-title {
        flex-basis: 20%;
    }
    .venue {
        display: flex;
        align-items: center;
    }
    .address {
        flex-grow: 1;
    }
}