.ant-input-number {
    margin: 0 2px;
    width: 50px !important;
    height: 30px;
    .ant-input-number-handler-wrap {
        display: none;
    }
    .ant-input-number-input-wrap {
        input {
            width: 50px;
            height: 28px;
            text-align: center;
            border: none;
        }
        input:focus {
            outline: #1a9c7b solid 1px;

        }
        
    }
}
.wrap-cartpage {
    background-color: #f4f4f4;
    margin: 0 -8vw;
    padding: 0 4vw;
    .title {
        padding: 10px 0px;
    }
    .container-cart {
        display: flex;
        // padding: 0;
        // margin: 0;
        &-left {
            width: 65%;
            .list-restaurant-cart {
                .disable {
                    pointer-events: none;
                    opacity: 0.3;
                }
                .restaurant-cart {
                    background-color: #FFF;
                    padding: 10px;
                    margin-bottom: 10px;
                    .cart-header {
                        border-bottom: #eff0f5 solid 1px;
                        display: flex;
                        justify-content: space-between;
                        .ant-checkbox {
                            margin-right: 20px;
                        }
                        .detail {
                            font-size: 11px;
                            text-decoration: underline;
                            color: #BBB;
                            cursor: pointer;
                        }
                    }
                    .cart-body {
                        margin-top: 20px;
                        .list-items {
                            .item {
                                display: flex;
                                justify-content: space-between;
                                margin: 10px 0px;
                                .check-box {
                                    display: flex;
                                    align-items: center;
                                }
                                .info {
                                    display: flex;
                                    flex-grow: 1;
                                    margin: 0 20px;
                                    .image {
                                        width: 20%;
                                        margin-right: 10px;
                                        max-width: 45px;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                                .price {
                                    // width: 20%;
                                    margin: 0 20px;
                                }
                                .quantity {
                                    // width: 20%;
                                    margin: 0 20px;
                                    display: flex;
                                    button {
                                        height: 28px;
                                        width: 35px;
                                        background-color: #eff0f5;
                                        border: none;
                                        outline: none;
                                        cursor: pointer;
                                    } 
                                    button:hover {
                                        background-color: #dadada;
                                    }
                                    .ant-btn {
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-right {
            background-color: #FFF;
            margin-left:20px;
            padding: 20px;
            flex-grow: 1;
            .price {
                display: flex;
            }
            .vat {
                display: flex;
            }
            .total-price {
                display: flex;
            }
            .block-left {
                flex-grow: 1;
            }
            .block-order-btn {
                .btn-order {
                    width: 100%;
                    background-color: #e0a800;
                    color: #FFF;
                    height: 40px;           
                    font-weight: 700;
                }
            }
            .time {
                display: flex;
                align-items: center;
                margin: 5px 0px;
                .ant-select {
                    .ant-select-selector {
                        height: 100%;
                    }
                }
            }
        }
    }
}