* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  // color: #1f1f1f;
}

.header-search {
  height: 100vh;
  background: url("images/banner_nh.jpg") no-repeat;
  background-size: cover;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-search .header-top {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.header-top img {
  background-size: cover;
  background-position: center;
  height: 70px;
}


.w-33 {
  width: 30%;
}
.mb-20 {
  margin-bottom: 20px;
}
.wrap-app {
  .wrap-dashboard {
    margin: 0 8%;
  }
}

.m-0 {
  margin: 0;
}

.mb-10 {
  margin-bottom: 10px;
}
.mt-0 {
  margin-top: 0px;
}
.mt-10 {
  margin-top: 10px;
}
.backtop {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 999px;
  background-color: #DDD;
  color: #fff;
  text-align: center;
  font-size: 14px;
}