.wrap-detail {
    margin-top: 10px;
    .wrap-detail__info {
        display: flex;
        .wrap-detail__info-left {
            width: 60%;
            margin-right: 40px;
            .list-image {
                margin-bottom: 20px;
                .main-image {
                    img {
                        // width: 100%;
                        max-height: 400px;
                    }
                    .slick-list {
                        max-height: 400px;
                        .slick-slide {
                            div {
                                div {
                                    width: 100%;
                                    display: flex !important;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
                .slider {
                    display: flex;
                    justify-content: center;
                    height: 60px;
                    margin-top: 20px;
                    img {
                        margin: 0 10px;
                    }
                }
                .add-img {
                    text-align: right;
                    cursor: pointer;
                }
            }
            .introduce {
                border-top: #fcae02 solid 1px;
                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
            .event-category {
                border-top: #fcae02 solid 1px;
                .list-event-header {
                    display: flex;
                    justify-content: space-between;
                }
                .event-category-list {
                    display: flex;
                    flex-wrap: wrap;
                    p {
                        flex-basis: 50%;
                    }
                }
            }
            .list-room {
                border-top: #fcae02 solid 1px;
                .list-room-header {
                    
                    display: flex;
                    justify-content: space-between;
                }
                .rooms {
                    .item {
                        display: flex;
                        margin-bottom: 20px;
                        padding: 5px;
                        cursor: pointer;
                        .image {
                            flex-basis: 30%;
                            margin-right: 20px;
                            img {
                                width: 100%;
                                // height: 150px;
                            }
                        }
                        .info {
                            flex-basis: 70%;
                        }
                        &__checkbox {
                            display: flex;
                            align-items: center;
                        }
                    }
                    .item-mypage:hover {
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                    }
                }
            }
        }
        &-right {
            .side-service {
                border-top: #fcae02 solid 1px;
                .service-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                .list-services {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-right: -5px;
                    margin-left: -5px;
                    .item {
                        flex-basis: 50%;
                        padding: 5px 5px;
                        display: flex;
                        flex-direction: column;
                        img {
                            width: 100%;
                        }
                        h4, p {
                            color: #002f79;
                        }
                        p {
                            margin-bottom: 0.2rem;
                        }
                        p.price {
                            color: #fcae02;
                        }
                        h4 {
                            flex-grow: 1;
                        }
                    }
                    .item:hover {
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                        cursor: pointer;
                    }
                }
            }
            .side-address {
                .capa-price {
                    &__block {
                        padding: 20px;
                        background-color: rgba(152,200,255,.1);
                        border-radius: 4px;
                        p {
                            margin: 0;
                        }
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .list-menu {
        margin: 20px 0;
        border-top: #fcae02 solid 1px;
        .list-menu-header {
            display: flex;
            justify-content: space-between;
        }
        .menus {
            display: flex;
            margin: 0 -2.5%;
            overflow-y: scroll;
            .item {
                width: 20%;
                margin: 0 2.5%;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                .image {
                    img {
                        width: 100%;
                        height: 130px;
                    }
                }
                .info {
                    padding: 20px;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .btn-primary {
                        width: 100%;    
                        color: #fff;
                        background-color: #007bff;
                        border-color: #007bff;
                    }
                    h4 {
                        flex-grow: 1;
                    }
                }
            }
        }
    }
    .list-drink {
        margin: 20px 0;
        border-top: #fcae02 solid 1px;
        .drinks {
            display: flex;
            overflow-y: scroll;
            margin: 0 -2.5%;
            .item {
                width: 20%;
                margin: 0 2.5%;
                border: 1px solid rgba(0,0,0,.125);
                border-radius: 4px;
                .image {
                    img {
                        width: 100%;
                    }
                }
                .info {
                    padding: 20px;
                    .btn-primary {
                        width: 100%;    
                        color: #fff;
                        background-color: #007bff;
                        border-color: #007bff;
                    }
                }
            }
        }
    }
    .wrap-map {
        // margin-bottom: 100px;
    }
}
.rest-recommend {
    .items {
        display: flex;
        justify-content: space-between;
    }
}

.ant-modal {
    vertical-align: top !important;
    margin-top: 70px !important;
}
.ant-modal-menu {
    width: 80vw !important;
    height: 50vh !important;
    .ant-modal-content {
      height: auto;
    }
}
.ant-modal-drink {
    width: 50vw !important;
    height: 50vh !important;
    .ant-modal-content {
    height: auto;
    }
}
.ant-modal-addmenu {
    width: 70vw !important;
    height: 50vh !important;
    .ant-modal-content {
    height: auto;
    }
}
.ant-modal-addvenue {
    width: 50vw !important;
    height: 50vh !important;
    .ant-modal-content {
    height: auto;
    }
}
.ant-modal-addservice {

}
.edit {
    cursor: pointer;
}
.icon-event {
    font-size: 20px;
    color: #002F79 !important;
}