.wrap-popup-addvenue {
    .ant-upload-picture-card-wrapper {
        width: 50% !important;
        .ant-upload-list-picture-card-container {
            width: 100%;
            height: 200px;
        }
    }
    .block {
        margin: 0 10px;
        .block-2 {
            .ant-input-number {
                width: 100% !important;
                input {
                    width: 100% !important;
                    text-align: center;
                }
            }
        }
    }
    .room {
        width: 50%;
    }
}