.wrap-popup {
    display: flex;
    justify-content: space-between;
    .image {
        width: 30%;
        img {
            width: 100%;
        }
    }
    .info {
        width: 25%;
        .list-food {
            ul {
                list-style: none;
            }
            
            ul li::before {
                content: "\2022";
                color: #ffc107;
                font-weight: 900;
                display: inline-block; 
                width: 1em;
                margin-left: -1em;
            }
        }
    }
    .price {
        width: 35%;
        .block {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
        }
        .add-to-cart {
            text-align: right;
            margin-top: 10px;
        }
    }
}