.wrap-popup-addservice {
    .block {
        margin: 0 10px;
        .block-2 {
            display: flex;
            justify-content: space-between;
        }
        .image {
            width: 100%;
            text-align: center;
            margin: 10px 0px;
            img {
                width: 100%;
            }
        }
    }
}