.wrap-popup-addmenu {
    .ant-upload-picture-card-wrapper {
        width: 30%;
    }
    .block {
        margin: 0 10px;
        .block-2 {
            .ant-input-number {
                width: 100% !important;
                input {
                    width: 100% !important;
                    text-align: right;
                }
            }
        }
    }
    .info {
        width: 40%;
    }
    .room {
        width: 30%;
    }
}